body {
    background-color: black;
}
.field {
    border-radius: 150px;
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    background-image: url('without.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

li {
    display: inline-block;
}

#Display {
    margin: auto;
    padding: auto;
    width: 300px;
    font-size: 30px;
    color: blueviolet;
}